{% extends "base.html" %}

{% block reset_password %}

<div class="boxlogin">
    <img class="loginimg" src="/static/images/profileimg/loginimg.png">
<form action="/reset_my_password" method="POST" >
    <h3>Reset your password</h3>
    <input type="text" class="input" name="username" placeholder = "Username" required>
    <input type="password" class="input" name="new_password" placeholder = "Enter new password" required>
    <input type="password" class="input" name="verify_password" placeholder = "Verify password" required>
    <input type = "submit" class="botton" value = "Reset">
</form> 
    {{ error }}
</div> 

{% endblock %}